html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: whitesmoke;
    color: darkslategrey;
    height: 100vh;
}

header {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}


h1 {
    font-size: 48px;
    font-weight: normal;
    
}

a {
    text-decoration: none;
    color: inherit;

}

.btn-wrapper {
    color: inherit;
    background: #eee;
    padding: 30px;
    display: grid;
    
}

button {
    border: soldid 1px darkslategray;
    color: inherit;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    margin: 10px;
    
}

#match, #no-match, #restart {
    display: none;
    text-align: center;
    
}

#game {
    margin-top: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 30px;
}

.card-background {
    background-color: #ddd;
    margin: 3px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

img {
    width: 300px;
    height: 300px;
    display: none;
    padding: 20px;
    object-fit: cover;
    margin: 0 auto;
}

@media (min-width: 500px) and (orientation: landscape) {
    img {
        display: block;
    }
    .welcome {
        opacity: 0;
    }
}

@media (min-width: 500px) and (orientation: portrait) {
    body {
        background: orange;
    }
}

footer {
    background: #ddd;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    
}